@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300&display=swap');

:root {
  --mainShadow: 0 6px 18px 0 rgb(9 32 76 / 8%);
  --mainColor: #c92b72;
  --bgWhite: #fefefe;
  --bgDark: #1f2024
}

body {
  font-family: 'Changa', sans-serif;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-color: #f7f7f7
}

body.dark {
  background-color: #121212
}

* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

button,
input,
optgroup,
select,
textarea { font-family: inherit }

.btn-custom {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none
}

.c-you { background-color: #ff0000 }
.c-pin { background-color: #bd081c }
.c-fb { background-color: #3b5998 }
.c-in { background-color: #c32aa3 }
.c-tw { background-color: #1da1f2 }
.c-te { background-color: #0088cc }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%
}

@media (min-width: 576px) {
  .container {
    max-width: 540px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px
  }
}
